{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/slider-pro.min.css' %}">
<link rel="stylesheet" href="{% static 'css/default.css' %}">

<div class="main-content-box">
    {% for block in self.body %}
    <div>
        {% include_block block %}
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'js/jquery.sliderPro.min.js' %}"></script>
<script>
$(document).ready(function(){
    carousel_KKK();
});
</script>
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
