{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<style type="text/css">
    .home-quote {
        position: relative;
        top:5rem;
        left:0;
        width: 100%;
        padding: 0 2rem;
    }
    .home-quote p {
        font-family: "trashhand";
        color: #CD9B1D;
        font-weight: 600;
        font-size: 2rem;
    }
    .home-quote p.quote-author {
        color: #777777;
        font-size: 1.5rem;
        float: right;
    }
</style>
<div class="home-quote clearfix">
    <div class="quote-content">
        <p>If you want something you've never had</p>
        <p class="pull-right">You must be willing to do something you've never done.</p>
    </div>
    <p class="quote-author">by Thomas Jefferson</p>
</div>
{% endblock %}