
<nav class="navbar visible-xs" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar top-bar"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Joey LIU | NANTSOU</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a href="/blogs/">BLOG</a></li>
      <li><a href="/portfolios/">PORTFOLIO</a></li>
      <li><a href="/projects/">PROJECT</a></li>
      <li><a href="/aboutme/">ABOUT ME</a></li>
    </ul>
  </div>
</nav>

<table class="navbar-table hidden-xs">
  <tbody>
  <tr>
    <td><a href="/">HOME</a></td>
    <td><a href="/blogs/">BLOG</a></td>
    <td><a href="/portfolios/">PORTFOLIO</a></td>
    <td><a href="/projects/">PROJECT</a></td>
    <td><a href="/aboutme/">ABOUT ME</a></td>
  </tr>
  </tbody>
</table>
