
<nav class="navbar navbar-default visible-xs" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle bollapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Joey LIU | NANTSOU</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a href="#">BLOG</a></li>
      <li><a href="#">PORTFOLIO</a></li>
      <li><a href="#">CODING</a></li>
      <li><a href="#">RESUME</a></li>
      <li><a href="#">ABOUT ME</a></li>
    </ul>
  </div>
</nav>

<table class="navbar-table hidden-xs">
  <tbody>
  <tr>
    <td><a href="#">BLOG</a></td>
    <td><a href="#">PORTFOLIO</a></td>
    <td><a href="#">CODING</a></td>
    <td><a href="#">RESUME</a></td>
    <td><a href="#">ABOUT ME</a></td>
  </tr>
  </tbody>
</table>
