{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<style text="text/css">
    .tag-list ul {
        margin-top: -0.8rem;
        margin-bottom: 1rem;
        padding: 0;
    }
    .tag-list ul li {
        display: inline;
        color: #767676;
        font-weight: 600;
    }
    .tag-list ul li+li {
        margin: 0 0.3rem;
    }
    .tag-list ul li a {
        color: #767676;
    }
    .tag-list ul li a:hover {
        color: #CD9B1D;
    }
</style>
<div class="page-header">

    <h2>
        {{ self.title }}
        {% if self.date %}<small>{{ self.date }}</small>{% endif %}
    </h2>

</div>
<div class="tag-list">
    <ul>
        <li class="tag-label">Tags:</li>
        {% for tag in self.tags.all %}
        <li>
            <a href="{% pageurl self.blog_index %}?tag={{ tag }}" class="">
                {{ tag }}
            </a>
        </li>
        {% empty %}
            <li class="tag-notfound">tags not found!!</li>
        {% endfor %}
    </ul>
</div>

    <style text="text/css">
    .body-content {
        background: #F5F5F5;
        padding: 1rem 1.25rem;
        border-radius: 0.2rem;
        margin-bottom: 2.5rem;
        
    }
    @media only screen 
    and (max-width: 1024px) {
        .body-content {
            border-radius: 0;
        }
    }
    </style>
    <link rel="stylesheet" href="{% static 'css/github.css' %}">
    <div class="body-content">
        {% if self.body %}
            {% include "blog/includes/stream_fields.html" with content=self.body %}
        {% endif %}
    </div>

<!-- mathjax config -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
        inlineMath: [ ["$","$"], ["\\(","\\)"] ],
        displayMath: [ ["$$","$$"], ["\\[","\\]"] ],
        processEscapes: true,
    },
    messageStyle: "none",
    "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
});
</script>
<script type="text/javascript" src="{% static 'js/MathJax/MathJax.js' %}?config=TeX-AMS-MML_HTMLorMML"></script>
{% endblock %}