{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<style>
    a.list-group-item:not(:last-child) {
        margin-bottom: 0.5rem;
    }
    a.list-group-item img {
        width: 10rem;
        height: 7.5rem;
        overflow: hidden;
    }
    @media only screen 
    and (max-width: 1024px) {
        .list-group-item:first-child,
        .list-group-item:last-child {
            border-radius: 0;
        }
    }
</style>

<div class="main-content-box">
    {% if blogs %}
        {% for blog in blogs %}
            {% include "blog/includes/blog_list_item.html" %}
        {% empty %}
            No blogs fund
        {% endfor %}
    {% endif %}
</div>
{% endblock %}