{% extends "post/post_index_page.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_inpage_css %}
.post-feed-img-wrapper {
    border: 1px solid rgba(46,61,73,0.15);
    margin-bottom: 0.5rem;
}
{% endblock extra_inpage_css %}

{% block post_index_like_content %}
<section class="main-content-box">
    <div class="row">
        {% if posts %}
            {% for post in posts %}
                {% include "post/includes/portfolio_list.html" %}
            {% empty %}
                <h1>No portfolio found</h1>
            {% endfor %}
        {% endif %}
    </div>
</section>
{% endblock post_index_like_content %}