{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block title_suffix %} - {{ self.title }}{% endblock %}
{% block descript_block %}"{{ self.search_description }}"{% endblock %}

{% block content %}
<style>
    .post-info-wrapper>*:not(hr) {
        margin: 9px 0px 0px 0px;
    }
    .post-title > a {
        color: inherit;
    }
    .post-title > a:hover {
        opacity:0.75;
    }
    .meta-text {
        font-family: "Ubuntu";
        color: #777777;
    }
    .post-item {
        padding: 0 15px;
    }
    .post-item .post-info-wrapper {
        margin: 0.5rem 0;
    }
    .post-item .post-info-wrapper p.post-meta span {
        display: block;
        font-size: 0.6rem;
        font-weight: 600;
    }
    hr.post_meta_hr {
        margin: 0.5rem 0;
    }
    .post_tag_list ul {
        margin: 0;
        padding: 0;
    }
    .post_tag_list ul li {
        display: inline;
        font-weight: 600;
    }
    .post_tag_list ul li+li {
        margin: 0 0.3rem;
    }
    .post_tag_list ul li a {
        display: inline-block;
        color: #FFFFFF;
        background-color: #3D3D3D;
        border-radius: 3px;
        padding: 0 0.2rem;
        font-size: 0.6rem;
    }
    .post_tag_list ul li a:hover {
        opacity: 0.75;
    }
    article:not(:last-child) {
        margin-bottom: 2.5rem;
    }
    .pagination-box {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
    .pagination-box .prev-next-navi {
        display: flex;
        justify-content: space-between;
    }
    .prev-next-navi > .prev-next-navi-item {
        height: 3rem;
        line-height: 3rem;
        width: 35%;
        text-align: center;
        border: 0.01rem solid rgba(46,61,73,0.15);
        border-radius: 0.375rem;
        box-shadow:2px 4px 8px 0px rgba(46,61,73,0.2) !important;
    }
    .prev-next-navi > .prev-next-navi-item > a > p {
        font-size: 1.17rem;
        margin: 0;
    }
    .prev-next-navi > .prev-next-navi-item.disable-item {
        color: #CCC;
        font-size: 1.17rem;
    }
    @media only screen 
    and (max-width: 1024px) {
        .main-content-box {
            padding: 0 15px;
        }
    }
    {% block extra_inpage_css %}{% endblock extra_inpage_css %}
</style>
{% block post_index_like_content %}
<section class="main-content-box">
    <h1>Please add blog index like template!!!</h1>
</section>
{% endblock post_index_like_content %}
<section class="pagination-box row">
    <div class="prev-next-navi col-sm-6 col-sm-offset-3">
        {% if posts.has_previous %}
        <div class="prev-next-navi-item">
            <a href="?page={{ posts.previous_page_number }}"><p>PREVIOUS</p></a>
        </div>
        {% else %}
        <div class="prev-next-navi-item disable-item">
            <p class="disable-item">PREVIOUS</p>
        </div>
        {% endif %}
        {% if posts.has_next %}
        <div class="prev-next-navi-item">
            <a href="?page={{ posts.next_page_number }}"><p>NEXT</p></a>
        </div>
        {% else %}
        <div class="prev-next-navi-item disable-item">
            <p class="disable-item">NEXT</p>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function() {
        $.each($('.post-item'), function() {
            var post_item = this;
            $(post_item).find('h3.post-title a').hover(
            function () {
                $(post_item).addClass('shadow-box-hover');
            },
            function () {
                $(post_item).removeClass('shadow-box-hover');
            }
        );
        });
    });
</script>
{% endblock %}