{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block title_suffix %} - {{ self.title }}{% endblock %}
{% block descript_block %}"{{ self.search_description }}"{% endblock %}

{% block content %}
<style>
    .post-info-wrapper>*:not(hr) {
        margin: 9px 0px 0px 0px;
    }
    .post-title > a {
        color: inherit;
    }
    .post-title > a:hover {
        opacity:0.75;
    }
    .meta-text {
        font-family: "Ubuntu";
        color: #777777;
    }
    .post-item {
        padding: 0 15px;
    }
    .post-item .post-info-wrapper {
        margin: 0.5rem 0;
    }
    .post-item .post-info-wrapper p.post-meta span {
        display: block;
        font-size: 0.6rem;
        font-weight: 600;
    }
    hr.post_meta_hr {
        margin: 0.5rem 0;
    }
    .post_tag_list ul {
        margin: 0;
        padding: 0;
    }
    .post_tag_list ul li {
        display: inline;
        font-weight: 600;
    }
    .post_tag_list ul li+li {
        margin: 0 0.3rem;
    }
    .post_tag_list ul li a {
        display: inline-block;
        color: #FFFFFF;
        background-color: #3D3D3D;
        border-radius: 3px;
        padding: 0 0.2rem;
        font-size: 0.6rem;
    }
    .post_tag_list ul li a:hover {
        opacity: 0.75;
    }
    .btn-tag {
        display: inline-block;
        color: #FFFFFF;
        background-color: #3D3D3D;
        border-radius: 3px;
        padding: 0 0.2rem;
        font-size: 0.6rem;
        cursor: pointer;
    }
    .btn-tag:hover {
        opacity: 0.75;
    }
    .post-feed-img-wrapper img {
        width: 100%;
    }
    article:not(:last-child) {
        margin-bottom: 2.5rem;
    }
    #template {
        display: none;
    }
    .pagination-box {
        display: block;
        position: relative;
        margin: 2.5rem 0;
        padding: 0;
    }
    .pagination-wrap {
        text-align:center;
    }
    .pagination>li {
        display: inline-block;
    }
    .pagination>li:first-child {
        margin-right: 3rem;
    }
    .pagination>li:last-child {
        margin-left: 3rem;
    }
    .pagination>li:not(:first-child):not(:last-child) {
        margin: 0 0.2rem;
    }
    .pagination>li>span {
        width: 1.8rem;
        height: 1.8rem;
        line-height: 1.8rem;
        border-radius: 50% !important;
        border-color: rgba(61, 61, 61, 0.1);
        color: #3D3D3D;
        padding: 0;
        margin: 0;
        box-shadow: 8px 9px 16px 0px rgba(46,61,73,0.15);
        transition: all 0.3s ease;
    }
    .pagination>li>span.page_link {
        cursor:pointer;
    }
    .pagination>li>span:hover {
        color: #3D3D3D;
        border-color: rgba(61, 61, 61, 0.2);
        background-color: rgba(61, 61, 61, 0.1);
        box-shadow:2px 4px 8px 0px rgba(46,61,73,0.2);
    }
    .pagination>li.disabled>span {
        color: #8A8A8A;
        background-color: rgba(61, 61, 61, 0.1);
        border-color: rgba(61, 61, 61, 0.2);
        box-shadow:2px 4px 8px 0px rgba(46,61,73,0.2);
    }
    .pagination>li.disabled>span:hover {
        color: #8A8A8A;
        background-color: rgba(61, 61, 61, 0.1);
        border-color: rgba(61, 61, 61, 0.2);
        box-shadow:2px 4px 8px 0px rgba(46,61,73,0.2);
    }
    .pagination>li.active>span {
        background-color: #3D3D3D;
        border-color: #3D3D3D;
        box-shadow:2px 4px 8px 0px rgba(46,61,73,0.2);
    }
    .pagination>li.active>span:hover {
        background-color: #3D3D3D;
        border-color: #3D3D3D;
        box-shadow:2px 4px 8px 0px rgba(46,61,73,0.2);
    }
    @media only screen 
    and (max-width: 1024px) {
        .main-content-box,
        .pagination-box {
            padding: 0 15px;
        }
    }
    {% block extra_inpage_css %}{% endblock extra_inpage_css %}
</style>

<section class="main-content-box">
</section>

<section class="pagination-box">
    <div class="pagination-wrap col-sm-6 col-sm-offset-3">
        <ul class="pagination"></ul>
    </div>
 </section>

<article id="template" class="col-sm-8 col-sm-offset-2">
    <div class="post-item shadow-box clearfix">
        <div class="post-info-wrapper">
            <p class="post-meta">
                <span class="meta-text"></span>
            </p>
            <h3 class="post-title"><a></a></h3>
            <div class="post_description">
                <p class="meta-text"></p>
            </div>
            <div class="post_meta clearfix">
                <div class="post_tag_list">
                    <hr class="post_meta_hr" />
                    <ul></ul>
                </div>
            </div>
        </div>
        {# if post.feed_image #}
        <div class="post-feed-img-wrapper">
            <hr class="post_meta_hr" />
            {# image post.feed_image width-460 as img #}
            <img class="media-feed-image" src="{{ img.url }}" />
        </div>
        {# endif #}
    </div>
</article>

<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

    function build_post_item(item) {
        var post_item = $('#template').clone().removeAttr("id");

        post_item.find(".post-info-wrapper .post-meta .meta-text").text(item['date']);
        post_item.find("h3.post-title a").attr("href", item['meta']['html_url']).text(item['title']);

        var description = item['meta']['search_description'];
        if (description) {
            post_item.find(".post_description .meta-text").text(description);
        } else {
            post_item.find(".post_description").remove();
        }

        var tags = item["tags"];
        if (tags.length > 0) {
            $.each(tags, function(i, tag) {
                var li = $("<li></li>").addClass("flex-align").append(
                    $("<span></span>").addClass("btn-tag").text(tag)
                );
                li.find("span").on('click', function() {
                    var tag = $(this).text();
                    render_page(undefined, tag=tag);
                });
                post_item.find(".post_tag_list ul").append(li);
            });
        } else {
            post_item.find(".post_tag_list").remove();
        }

        var feed_image_thumbnail = item["feed_image_thumbnail"];
        if (feed_image_thumbnail) {
            post_item.find(".post-feed-img-wrapper img").attr("src", feed_image_thumbnail["url"]);
        } else {
            post_item.find(".post-feed-img-wrapper").remove();
        }

        post_item.find("h3.post-title a").hover(
            function () {
                post_item.find(".post-item").addClass("shadow-box-hover");
            },
            function () {
                post_item.find(".post-item").removeClass("shadow-box-hover");
            }
        );
        return post_item;
    }

    function build_pagination_item(page_num, prev_or_next) {
        var li = $("<li><span class='page_link'></span></li>");

        if (page_num === null) {
            li.addClass("disabled");
        } else {
            li.find("span").on("click", function() {
                var tag = $("section.main-content-box").attr("tag");
                render_page(page_num, tag);
            });
        }

        if (prev_or_next === "prev") {
            li.find("span").append("<i class='fa fa-angle-double-left' aria-hidden='true'></i>");
        } else if (prev_or_next === "next") {
            li.find("span").append("<i class='fa fa-angle-double-right' aria-hidden='true'></i>");
        } else {
            li.find("span").text(page_num);
        }

        return li;
    }

    function build_pagination(prev, next, current_page, page_range) {
        var pagination = $("ul.pagination");

        pagination.append(build_pagination_item(prev, "prev"));

        $.each(page_range, function(index, num) {
            var li = build_pagination_item(num);
            if (num === current_page) {
                li.addClass("active");
                li.find("span").unbind("click").removeClass("page_link");
            }
            pagination.append(li);
        });

        pagination.append(build_pagination_item(next, "next"));
    }

    function render_page(page, tag) {
        var main_box = $("section.main-content-box");
        var pagination = $("ul.pagination");
        main_box.empty();
        pagination.empty();
        var url = "/api/v2/posts/?&order=-date&child_of=" + {{ self.id }};

        if (tag !== undefined) {
            url += "&tags=" + tag;
            main_box.attr("tag", tag);
        }
        if (page !== undefined) {
            url += "&page=" + page;
        }

        $.ajax({
            type: "get",
            url: url,
            success: function(data) {

                $.each(data["items"], function(index, item) {
                    var post_item = build_post_item(item);
                    main_box.append(post_item);
                });

                build_pagination(data["previous_page_num"],
                                 data["next_page_num"],
                                 data["current_page"],
                                 data["page_range"]);
            },
            error: function() {}
        });
    }
    $(document).ready(function() {
        render_page();
    });
</script>
{% endblock %}
