{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block title_suffix %} - {{ self.title }}{% endblock %}
{% block descript_block %}"{{ self.search_description }}"{% endblock %}

{% block content %}
<style text="text/css">
    p.page-meta span {
        display: block;
        font-size: 0.8rem;
        font-weight: 600;
    }
    .meta-text {
        font-family: "Ubuntu";
        color: #777777;
    }
    .tag-list ul {
        margin-top: -0.8rem;
        margin-bottom: 1rem;
        padding: 0;
    }
    .tag-list ul li {
        display: inline;
        font-weight: 600;
    }
    .tag-list ul li+li {
        margin: 0 0.3rem;
    }
    .tag-list ul li a {
        display: inline-block;
        color: #FFFFFF;
        background-color: #3D3D3D;
        border-radius: 3px;
        padding: 0 0.2rem;
        font-size: 0.7rem;
    }
    .tag-list ul li a:hover {
        opacity: 0.75;
    }
</style>
<div class="page-header">
    <h1>{{ self.title }}</h1>
    <p class="page-meta">
        <span class="meta-text">
            {{ self.date }}
        </span>
    </p>
</div>

<div class="tag-list">
    <ul>
        {% for tag in self.tags.all %}
        <li>
            <a href="{% pageurl self.post_index %}?tag={{ tag }}" class="">
                {{ tag }}
            </a>
        </li>
        {% empty %}
            <li class="tag-notfound">tags not found!!</li>
        {% endfor %}
    </ul>
</div>

<style text="text/css">
    .body-content {
        background: #FFFFFF;
        padding: 1rem 1.25rem;
        margin-bottom: 2.5rem;
    }
    .body-content h1,
    .body-content h2,
    .body-content h3 {
        font-family: 'Open Sans', sans-serif;
        color: #000;
    }
    .prev-next-navi {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.5rem;
    }
    .prev-next-navi > .prev-next-navi-item {
        height: 3.6rem;
        line-height: 3.6rem;
        width: 40%;
        text-align: center;
    }
    .prev-next-navi > .prev-next-navi-item > a > p {
        font-size: 1.2rem;
        margin: 0;
    }
    .disqus-box {
        padding: 0 0.5rem;
        margin-bottom: 2rem;
    }
    @media only screen
    and (max-width: 1024px) {
        .page-header,
        .tag-list ul {
            padding: 0 15px;
        }
        .body-content,
        .prev-next-navi {
            padding: 15px;
        }
    }
</style>
<link rel="stylesheet" href="{% static 'css/github.css' %}">
<div class="body-content shadow-box">
    {% if self.body %}
        {% include "post/includes/stream_fields.html" with content=self.body %}
    {% endif %}
</div>

<div class="disqus-box shadow-box">
    <div id="disqus_thread"></div>
</div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://joeyliu.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}

{% block extra_js %}
<!-- mathjax config -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
        inlineMath: [ ["$","$"], ["\\(","\\)"] ],
        displayMath: [ ["$$","$$"], ["\\[","\\]"] ],
        processEscapes: true,
    },
    messageStyle: "none",
    "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
});
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $.each($('.prev-next-navi-item'), function() {
            var post_item = this;
            $(post_item).find('a').hover(
            function () {
                $(post_item).addClass('shadow-box-hover');
            },
            function () {
                $(post_item).removeClass('shadow-box-hover');
            }
        );
        });
    });
</script>
<script async type="text/javascript" src="{% static 'js/MathJax/MathJax.js' %}?config=TeX-AMS-MML_HTMLorMML"></script>
{% endblock %}