{% extends "post/post_index_page.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block title_suffix %} - PROJECTS{% endblock %}

{% block post_index_like_content %}
<section class="main-content-box">
    <div class="row">
        {% if posts %}
            {% for post in posts %}
                {% include "post/includes/project_list.html" %}
            {% empty %}
                No posts fund
            {% endfor %}
        {% endif %}
    </div>
</section>
{% endblock post_index_like_content %}