{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/slider-pro.min.css' %}">
    <div class="main-content-box">
        {% for block in self.carousel %}
        <div>
            {{ block.block_type }}
            {% include_block block %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'js/jquery.sliderPro.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function( $ ) {
        $('#carousel').sliderPro({
            width: 1200,
            height: 400,
            arrows: false,
            buttons: false,
            slideDistance:0,
        });
    });
</script>
{% endblock %}
