{% load wagtailcore_tags wagtailimages_tags %}

<article class="col-sm-6 col-sm-offset-3">
    <div class="post-item shadow-box clearfix">
        <div class="post-info-wrapper">
            <p class="post-meta">
                <span class="meta-text">
                    {{ post.date }}
                </span>
            </p>
            <h3 class="post-title"><a href="{% pageurl post %}">{{ post.title }}</a></h3>
            {% if post.search_description %}
            <div class="post_post_description">
                <p class="meta-text">{{ post.search_description }}</p>
            </div>
            {% endif %}
            <div class="post_meta clearfix">
                <hr class="post_meta_hr" />
                <span class="post_tag_list">
                <ul>
                    {% for tag in post.tags.all %}
                    <li class="flex-align">
                        <a href="{% pageurl post.post_index %}?tag={{ tag }}">
                            {{ tag }}
                        </a>
                    </li>
                    {% empty %}
                        <li class="tag-notfound">tags not found!!</li>
                    {% endfor %}
                </ul>
                </span>
                <hr class="post_meta_hr" />
            </div>
        </div>
        <div class="post-feed-img-wrapper">
            {% if post.feed_image %}
                {% image post.feed_image width-460 as img %}
                <img class="media-feed-image" src="{{ img.url }}" />
            {% endif %}
        </div>
    </div>
</article>