.code-hightlight .hll { background-color: #ffffcc }
.code-hightlight  { background: #f8f8f8; }
.code-hightlight .c { color: #8f5902; font-style: italic } /* Comment */
.code-hightlight .err { color: #a40000; border: 1px solid #ef2929 } /* Error */
.code-hightlight .g { color: #000000 } /* Generic */
.code-hightlight .k { color: #204a87; font-weight: bold } /* Keyword */
.code-hightlight .l { color: #000000 } /* Literal */
.code-hightlight .n { color: #000000 } /* Name */
.code-hightlight .o { color: #ce5c00; font-weight: bold } /* Operator */
.code-hightlight .x { color: #000000 } /* Other */
.code-hightlight .p { color: #000000; font-weight: bold } /* Punctuation */
.code-hightlight .ch { color: #8f5902; font-style: italic } /* Comment.Hashbang */
.code-hightlight .cm { color: #8f5902; font-style: italic } /* Comment.Multiline */
.code-hightlight .cp { color: #8f5902; font-style: italic } /* Comment.Preproc */
.code-hightlight .cpf { color: #8f5902; font-style: italic } /* Comment.PreprocFile */
.code-hightlight .c1 { color: #8f5902; font-style: italic } /* Comment.Single */
.code-hightlight .cs { color: #8f5902; font-style: italic } /* Comment.Special */
.code-hightlight .gd { color: #a40000 } /* Generic.Deleted */
.code-hightlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.code-hightlight .gr { color: #ef2929 } /* Generic.Error */
.code-hightlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.code-hightlight .gi { color: #00A000 } /* Generic.Inserted */
.code-hightlight .go { color: #000000; font-style: italic } /* Generic.Output */
.code-hightlight .gp { color: #8f5902 } /* Generic.Prompt */
.code-hightlight .gs { color: #000000; font-weight: bold } /* Generic.Strong */
.code-hightlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.code-hightlight .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
.code-hightlight .kc { color: #204a87; font-weight: bold } /* Keyword.Constant */
.code-hightlight .kd { color: #204a87; font-weight: bold } /* Keyword.Declaration */
.code-hightlight .kn { color: #204a87; font-weight: bold } /* Keyword.Namespace */
.code-hightlight .kp { color: #204a87; font-weight: bold } /* Keyword.Pseudo */
.code-hightlight .kr { color: #204a87; font-weight: bold } /* Keyword.Reserved */
.code-hightlight .kt { color: #204a87; font-weight: bold } /* Keyword.Type */
.code-hightlight .ld { color: #000000 } /* Literal.Date */
.code-hightlight .m { color: #0000cf; font-weight: bold } /* Literal.Number */
.code-hightlight .s { color: #4e9a06 } /* Literal.String */
.code-hightlight .na { color: #c4a000 } /* Name.Attribute */
.code-hightlight .nb { color: #204a87 } /* Name.Builtin */
.code-hightlight .nc { color: #000000 } /* Name.Class */
.code-hightlight .no { color: #000000 } /* Name.Constant */
.code-hightlight .nd { color: #5c35cc; font-weight: bold } /* Name.Decorator */
.code-hightlight .ni { color: #ce5c00 } /* Name.Entity */
.code-hightlight .ne { color: #cc0000; font-weight: bold } /* Name.Exception */
.code-hightlight .nf { color: #000000 } /* Name.Function */
.code-hightlight .nl { color: #f57900 } /* Name.Label */
.code-hightlight .nn { color: #000000 } /* Name.Namespace */
.code-hightlight .nx { color: #000000 } /* Name.Other */
.code-hightlight .py { color: #000000 } /* Name.Property */
.code-hightlight .nt { color: #204a87; font-weight: bold } /* Name.Tag */
.code-hightlight .nv { color: #000000 } /* Name.Variable */
.code-hightlight .ow { color: #204a87; font-weight: bold } /* Operator.Word */
.code-hightlight .w { color: #f8f8f8; text-decoration: underline } /* Text.Whitespace */
.code-hightlight .mb { color: #0000cf; font-weight: bold } /* Literal.Number.Bin */
.code-hightlight .mf { color: #0000cf; font-weight: bold } /* Literal.Number.Float */
.code-hightlight .mh { color: #0000cf; font-weight: bold } /* Literal.Number.Hex */
.code-hightlight .mi { color: #0000cf; font-weight: bold } /* Literal.Number.Integer */
.code-hightlight .mo { color: #0000cf; font-weight: bold } /* Literal.Number.Oct */
.code-hightlight .sb { color: #4e9a06 } /* Literal.String.Backtick */
.code-hightlight .sc { color: #4e9a06 } /* Literal.String.Char */
.code-hightlight .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
.code-hightlight .s2 { color: #4e9a06 } /* Literal.String.Double */
.code-hightlight .se { color: #4e9a06 } /* Literal.String.Escape */
.code-hightlight .sh { color: #4e9a06 } /* Literal.String.Heredoc */
.code-hightlight .si { color: #4e9a06 } /* Literal.String.Interpol */
.code-hightlight .sx { color: #4e9a06 } /* Literal.String.Other */
.code-hightlight .sr { color: #4e9a06 } /* Literal.String.Regex */
.code-hightlight .s1 { color: #4e9a06 } /* Literal.String.Single */
.code-hightlight .ss { color: #4e9a06 } /* Literal.String.Symbol */
.code-hightlight .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
.code-hightlight .vc { color: #000000 } /* Name.Variable.Class */
.code-hightlight .vg { color: #000000 } /* Name.Variable.Global */
.code-hightlight .vi { color: #000000 } /* Name.Variable.Instance */
.code-hightlight .il { color: #0000cf; font-weight: bold } /* Literal.Number.Integer.Long */
